.custom-time-picker {
  position: relative;

  input {
    width: 100%;
    box-sizing: border-box;
  }

  .time-dropdown {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(25px);
    background: white;
    border: 1px solid black;
    z-index: 1;
    &__opened {
      display: flex;
      flex-direction: column;
      height: 200px;
      overflow-y: scroll;

      > *:hover {
        cursor: pointer;
        background-color: aqua;
      }
    }

    .scrolled-to {
      background-color: aqua;
    }
  }
}
