.input-group {
  display: flex;
  justify-content: space-between;

  &__right {
    width: 215px;
    margin-left: 20px;
  }

  input[type=text] {
    width: 100%;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  .time-picker-group {
    display: flex;

    .custom-time-picker {
      max-width: 45px;
    }

    &__next-day-date {
      position: relative;
      left: 10px;
    }
  }
}