.input-group {
  display: flex;
  justify-content: space-between;
  &__right{
    margin-left: 50px;
    width: 200px;
  }

  input[type=text] {
    width: 100%;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }
}