.time-inputs {
  position: relative;

  .secondary-input {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(25px);
    background: white;
    border: 1px solid black;
    width: 100%;
    &__opened {
      display: flex;
      flex-direction: column;
      height: 200px;
      overflow-y: scroll;

      > *:hover {
        cursor: pointer;
        background-color: aqua;
      }
    }
  }
}
