.sign-up {
  &-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;

    > label {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    button {
      align-self: center;
    }
  }
}
